.movies-cardlist {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}

.movies-cardlist__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 80px 0 12px;
  max-width: 1140px;
  row-gap: 44px;
  column-gap: 30px;
}

@media screen and (max-width: 1279px) {
  .movies-cardlist__container {
    padding: 80px 0 0px;
    max-width: 708px;
    row-gap: 31px;
    column-gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .movies-cardlist__container {
    flex-direction: column;
    padding: 50px 0 0px;
    max-width: 300px;
    /* column-gap: 39px; */
    row-gap: 22px;
  }
}

.movies-cardlist__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 36px;
  background: #202020;
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0;
  margin: 50px auto 80px;
  border-radius: 3px;
  border: 1px solid #424242;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .movies-cardlist__btn {
    margin: 46px auto 80px;
  }
}

@media screen and (max-width: 767px) {
  .movies-cardlist__btn {
    min-width: 240px;
    margin: 48px auto 78px;
  }
}

.movies-cardlist__btn:hover {
  opacity: 0.8;
}

.movies-cardlist__btn-new {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 36px;
  background: #202020;
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0;
  margin: 50px auto 130px;
  border-radius: 3px;
  border: 1px solid #424242;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .movies-cardlist__btn-new {
    margin: 46px auto 80px;
  }
}

@media screen and (max-width: 767px) {
  .movies-cardlist__btn-new {
    min-width: 240px;
    margin: 48px auto 52px;
  }
}

.movies-cardlist__btn-new:hover {
  opacity: 0.8;
}