.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .not-found {
    max-width: 300px;
  }
}

.not-found__title {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 246px 0 5px;
}

@media screen and (max-width: 1279px) {
  .not-found__title {
    padding: 408px 0 5px;
  }
}

@media screen and (max-width: 767px) {
  .not-found__title {
    font-size: 80px;
    padding: 329px 0 10px;
  }
}

.not-found__subtitle {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0 0 184px;
}

@media screen and (max-width: 767px) {
  .not-found__subtitle {
    font-size: 12px;
    padding: 0 0 282px;
  }
}

.not-found__btn-exit {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #202020;
  padding: 0;
  margin: 0 auto;
  border: 0;
  color: #4285f4;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .not-found__subtitle {
    font-size: 12px;
  }
}

.not-found__btn-exit:hover {
  opacity: 0.8;
}