.register {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  align-content: center;
  max-width: 396px;
  height: 100%;
  margin: 0 auto;
  padding: 70px 0 0;
}

@media screen and (max-width: 1279px) {
  .register {
    padding: 232px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .register {
    max-width: 260px;
    padding: 56px 0 0;
  }
}

.register__logo {
  width: 38px;
  height: 38px;
  align-self: flex-start;
  margin: 0;
  padding: 0;
}

.register__logo:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .register__logo {
    align-self: center;
  }
}

.register__title {
  color: #fff;
  align-self: flex-start;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding: 40px 0;
}

@media screen and (max-width: 767px) {
  .register__title {
    padding: 50px 0 80px;
    align-self: center;
  }
}

.register__form {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.register__label {
  align-self: flex-start;
  color: #8b8b8b;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0 0 10px;
}

.register__input {
  max-width: 381px;
  min-height: 46px;
  border: 0;
  border-radius: 8px;
  background: #2f2f2f;
  color: #fff;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin: 0 0 10px;
}

@media screen and (max-width: 767px) {
  .register__input {
    max-width: 245px;
  }
}

.register__input[type="text"] {
  padding-left: 15px;
}

.register__input[type="email"] {
  padding-left: 15px;
}

.register__input[type="password"] {
  padding-left: 15px;
}

.register__input:focus {
  outline: none;
  border-bottom: 1px solid #4285f4;
}

.register__error {
  min-height: 10px;
  margin: 0;
  padding: 0;
  color: #ee3465;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 396px;
  min-height: 45px;
  background: #4285f4;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0;
  margin: 69px auto 16px;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .register__button {
    min-width: 260px;
    font-size: 12px;
    margin: 157px auto 14px;
  }
}

.register__button:hover {
  opacity: 0.8;
}

.register__text {
  color: #8b8b8b;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 767px) {
  .register__text {
    font-size: 12px;
  }
}

.register__text-link {
  color: #4285f4;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .register__text-link {
    font-size: 12px;
  }
}

.register__text-link:hover {
  opacity: 0.7;
}
