.navlink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  @media screen and (max-width: 767px) {
    .navlink {
      gap: 6px;
    }
  }

  .navlink__menu {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #303030;
    width: 96px;
    height: 36px;
    color: #fff;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
  }
  
  @media screen and (max-width: 767px) {
    .navlink__menu {
    border-radius: 6px;
    width: 82px;
    height: 26px;    
    font-size: 10px;
    }
  }

  .navlink__menu:hover {
    opacity: 0.8;
  }